<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>My Bucket List for Travel</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8....snip...
</head>
<body>
<div class="container d-flex align-items-center justify-content-center vh-100">
<div class="content-box">
<h1>My Travel Bucket List</h1>
{% block content %}{% endblock %}
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8 ....snip...
</body>
</html>