{% extends "base.html" %}

{% block content %}
<br>
<h1>Add a New Destination</h1>
<form method="POST">
    <label for="dest_name">Enter Destination Name:</label>
    <input type="text" id="dest_name" name="dest_name" required>
    <label for="dest_price">Enter Destination Price:</label>
    <input type="number" name="dest_price" required>
    <label for="dest_date">Enter Date of Travel:</label>
    <input type="date" name="dest_date" required>
    <button type="submit">Submit</button>
</form>
{% endblock %}